<script setup lang="ts">
import { type Product } from '@/types/Product'
import ProductList from '@/components/ProductList.vue';
import { ref, nextTick } from 'vue';
import { type ReceiptItem } from '@/types/ReceiptItem'
import { userReceiptStore } from '@/stores/receipt';
import ReceiptDetailTable from './ReceiptDetailTable.vue';
import ReceiptCard from './ReceiptCard.vue';
import MemberCard from './MemberCard.vue';
import { provide } from 'vue';
import ReceiptDialog from './ReceiptDialog.vue';



const dialog =ref(false)
provide('receiptDialog',dialog)
const receiptStroe = userReceiptStore()
const product1: Product[] = [
    { id: 1, name: 'โก', price: 35.00, type: 1 },
    { id: 2, name: 'โก้', price: 45.00, type: 1 },
    { id: 3, name: 'ร้อน', price: 55.00, type: 1 },
    { id: 4, name: 'กา', price: 35.00, type: 1 },
    { id: 5, name: 'แฟ', price: 45.00, type: 1 },
    { id: 6, name: 'ชามะ', price: 55.00, type: 1 },
    { id: 7, name: 'นาว', price: 35.00, type: 1 },
    { id: 8, name: 'โก้โกวา', price: 45.00, type: 1 },
    { id: 9, name: 'ร้อนหนาว', price: 55.00, type: 1 },

]
const product2: Product[] = [
    { id: 1, name: 'ลาเต้', price: 35.00, type: 2 },
    { id: 2, name: 'ร้อน', price: 45.00, type: 2 },
]
const product3: Product[] = [

    { id: 1, name: 'ลาเต้เย็น', price: 35.00, type: 3 },
    { id: 2, name: 'ชาเขียว', price: 45.00, type: 3 },
    { id: 3, name: 'ชากังราว', price: 55.00, type: 3 },

]
const tab = ref(1)
const divReceiptItems = ref<HTMLElement | null>(null)
const selected = (p: Product) => {
    console.log('ProductView' + p)
    receiptStroe.addReceiptItem(p)

    nextTick(() => {
        if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
    })


}
const showReceipt = function() {
    
    receiptStroe.showReceiptDialog()
}




</script>

<template>
    <v-container>
        <v-row>
            <v-col col="12" md="6" style="background-color: blue">
                <v-container>
                    <v-row>
                        <v-col cols="12">
                            <div ref="divReceiptItems" style="height: 300; overflow: auto;">
                                <v-sheet min-width="300" max-width="600" height="300" elevation="6">

                                    <ReceiptDetailTable></ReceiptDetailTable>

                                </v-sheet>
                            </div>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="60 " elevation="6">
                                <MemberCard></MemberCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="150 " elevation="6">
                                <ReceiptCard></ReceiptCard>
                            </v-sheet>

                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="70 " elevation="6">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" >
                                            <v-btn block rounded="xl" size="large">ยกเลิก</v-btn>
                                        </v-col><v-col cols="12" sm="6" >
                                            <v-btn block rounded="xl" size="large" color="primary" @click="showReceipt">ชำระเงิน</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
            <v-col col="12" md="6" style="background-color: red;"><v-sheet min-width="300" max-width="600" height="800 "
                    elevation="6">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">น้ำ1</v-tab>
                        <v-tab :value="2">น้ำ2</v-tab>
                        <v-tab :value="3">น้ำ3</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="product1" @selectedProduct="selected"> </ProductList>
                        </v-window-item>
                        <v-window-item :value="2">
                            <ProductList :products="product2" @selectedProduct="selected"> </ProductList>
                        </v-window-item>
                        <v-window-item :value="3">
                            <ProductList :products="product3" @selectedProduct="selected"> </ProductList>
                        </v-window-item>
                    </v-window>

                </v-sheet></v-col>

        </v-row>


    </v-container>
    <ReceiptDialog></ReceiptDialog>
</template>