<script setup lang="ts">
import { userReceiptStore } from '@/stores/receipt';
const receiptStroe = userReceiptStore()
</script>
<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="6">ยอดก่อนหัก:</v-col> 
            <v-col >{{receiptStroe.receipt?.totalBefor}}</v-col>

            <v-col cols="6">ส่วนลดสมาชิก:</v-col> 
            <v-col >{{ receiptStroe.receipt?.memberDiscount }}</v-col>

            <v-col cols="6">ยอดรวม:</v-col> 
            <v-col >{{receiptStroe.receipt?.total}}</v-col>

            
        </v-row>
    </v-container>
</template>