<script setup lang="ts">
import { userReceiptStore } from '@/stores/receipt';
const receiptStroe = userReceiptStore()
</script>

<template>
     <v-table>   
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>name</th>
                                            <th>price</th>
                                            <th>unit</th>
                                            <th>total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) of receiptStroe.receiptItem" :key="item.id">
                                            <td>{{ index + 1}}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.price }}</td>
                                            <td><v-btn icon="mdi-minus" density="compact" @click="receiptStroe.dec(item)"></v-btn>{{ item.unit }}<v-btn icon="mdi-plus" density="compact" @click="receiptStroe.inc(item)"></v-btn></td>
                                            <td>{{ item.price* item.unit }}</td>
                                            <td><v-btn icon="mdi-delete" density="compact" @click="() => {
                                                receiptStroe.removeReceiptItem(item)
                                            }"></v-btn></td>

                                        </tr>
                                    </tbody>
                                </v-table>
</template>