<script setup lang="ts">

import {type  Product } from '@/types/Product';

const props = defineProps<{
    products: Product
}>()
const emit = defineEmits<{
   selectedProduct: [Product] 
} >()
const Selected = function()  {
    console.log('ProductCard: '+props.products)
    emit('selectedProduct', props.products)
}
</script>
<template>
<v-sheet width="150" height="150" elevation="3" @click="Selected">
    <v-img :src="`./img/Product${products.id}.jpg`" height="120" cover></v-img>
    <div style="text-align: center">{{ products.name }} {{ products.price }} บาท</div>
 </v-sheet>
    
</template>